<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1 th:text="#{localized.myLibrary}">This is just the beginning</h1>
<h2><span  th:text="#{localized.whileOnlyFor}">So far only for</span>
    <a th:text="#{localized.forInspectors}" href= "/phases">Phases</a>
</h2>
<h3><span  th:text="#{localized.AndOnlyFor}">And just for</span>
    <a th:text="#{localized.forBooks}" href= "/jobs">Jobs</a>
</h3>
<h4><span  th:text="#{localized.AndOnlyFor}">And just for</span>
    <a th:text="#{localized.forInspectors}" href= "/inspectors">Inspectors</a>
</h4>
<h5><span  th:text="#{localized.AndOnlyFor}">And just for</span>
    <a th:text="#{localized.forDefects}" href= "/defects">Defects</a>
</h5>
<h4><span  th:text="#{localized.AndOnlyFor}">And just for</span>
    <a th:text="#{localized.forInspectors}" href= "/members">members</a>
</h4>
<h5><span  th:text="#{localized.AndOnlyFor}">And just for</span>
    <a th:text="#{localized.forDefects}" href= "/projects">Projects</a>
</h5>
</body>
</html>