<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{'/phases/' + ${action7}}" method= "post" >

    <input type=hidden th:value="${phase.id}" name= "id" th:if="${action7.equals('save7')}"/>

    <label for="inputPhasename">Phasename: </label>
    <input type="text" id="inputPhasename" name= "phasename" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputPhasename" name= "phasename" th:value="${phase.phasename}" th:if="${action7.equals('save7')}"/>

    <label for="inputPhasedesc">Phasedesc: </label>
    <input type="text" id="inputPhasedesc" name= "phasedesc" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputPhasedesc" name= "phasedesc" th:value="${phase.phasedesc}" th:if="${action7.equals('save7')}"/>

    <label for="inputPhaseleaderid">Phaseleaderid: </label>
    <input type="text" id="inputPhaseleaderid" name= "phaseleaderid" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputPhaseleaderid" name= "phaseleaderid" th:value="${phase.phaseleaderid}" th:if="${action7.equals('save7')}"/>

    <label for="inputTeamsize">Teamsize: </label>
    <input type="text" id="inputTeamsize" name= "teamsize" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputTeamsize" name= "teamsize" th:value="${phase.teamsize}" th:if="${action7.equals('save7')}"/>

    <label for="inputPriority">Priority: </label>
    <input type="text" id="inputPriority" name= "priority" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputPriority" name= "priority" th:value="${phase.priority}" th:if="${action7.equals('save7')}"/>

    <label for="inputDuedate">Duedate: </label>
    <input type="text" id="inputDuedate" name= "duedate" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputDuedate" name= "duedate" th:value="${phase.duedate}" th:if="${action7.equals('save7')}"/>

    <label for="inputProcesstype">Processtype: </label>
    <input type="text" id="inputProcesstype" name= "processtype" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputProcesstype" name= "processtype" th:value="${phase.processtype}" th:if="${action7.equals('save7')}"/>

    <label for="inputProjectid">Projectid: </label>
    <input type="text" id="inputProjectid" name= "projectid" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputProjectid" name= "projectid" th:value="${phase.projectid}" th:if="${action7.equals('save7')}"/>

    <label for="inputComplete">Complete: </label>
    <input type="text" id="inputComplete" name= "complete" th:if="${action7.equals('insert7')}"/>
    <input type="text" id="inputComplete" name= "complete" th:value="${phase.complete}" th:if="${action7.equals('save7')}"/>

    <input type="submit" value="Add" th:if="${action7.equals('insert7')}"/>
    <input type="submit" value="Edit" th:if="${action7.equals('save7')}"/>

</form>
</body>
</html>