<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p1 th:text="${phase.phasename} +' ' + ${phase.phasedesc} +' ' + ${phase.phaseleaderid} +' ' + ${phase.teamsize} +' ' + ${phase.priority} +' ' + ${phase.duedate}
+' ' + ${phase.processtype} +' ' + ${phase.projectid} +' ' + ${phase.complete} + ' updated!'" th:if="${action7.equals('insert7')}">updated></p1>

<p1 th:text="${phase.phasename} +' ' + ${phase.phasedesc} +' ' + ${phase.phaseleaderid} +' ' + ${phase.teamsize} +' ' + ${phase.priority} +' ' + ${phase.duedate}
+' ' + ${phase.processtype} +' ' + ${phase.projectid} +' ' + ${phase.complete} + ' added!'" th:if="${action7.equals('save7')}">added></p1>
<br><a href= "/phases">To the list</a>
</body>
</html>