<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{'/authors/' + ${action1}}" method= "post" >

    <input type=hidden th:value="${author.id}" name= "id" th:if="${action1.equals('save1')}"/>

    <label for="inputFirstname">Firstname: </label>
    <input type="text" id="inputFirstname" name= "firstname" th:if="${action1.equals('insert1')}"/>
    <input type="text" id="inputFirstname" name= "firstname" th:value="${author.firstname}" th:if="${action1.equals('save1')}"/>

    <label for="inputLastname">Lastname: </label>
    <input type="text" id="inputLastname" name= "lastname" th:if="${action1.equals('insert1')}"/>
    <input type="text" id="inputLastname" th:value="${author.lastname}" value="Doe" name= "lastname" th:if="${action1.equals('save1')}"/>

    <input type="submit" value="Add" th:if="${action1.equals('insert1')}"/>
    <input type="submit" value="Edit" th:if="${action1.equals('save1')}"/>

</form>
</body>
</html>