<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form   th:action="@{'/books/'+${action}}" method="post">

    <input type=hidden th:value="${book.id}" name= "id" th:if="${action.equals('save')}"/>

    <label for="inputTitle">Title: </label>
    <input type="text" id="inputTitle" name= "title" th:if="${action.equals('insert')}"/>
    <input type="text" id="inputTitle" name= "title" th:value="${book.title}" th:if="${action.equals('save')}"/>

    <label for="inputCode">Code: </label>
    <input type="text" id="inputCode" name= "code" th:if="${action.equals('insert')}"/>
    <input type="text" id="inputCode"  name= "code" th:value="${book.code}" th:if="${action.equals('save')}"/>

    <input type="submit" value="Add" th:if="${action.equals('insert')}"/>
    <input type="submit" value="Edit" th:if="${action.equals('save')}"/>

</form>
</body>
</html>