<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="jobs" border= "2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Jobname</th>
        <th>Jobdesc</th>
        <th>Assignedworkerid</th>
        <th>Priority</th>
        <th>Duedate</th>
        <th>Phaseid</th>
        <th>Complete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="job : ${jobs}">
        <td th:text="${job.id}">1</td>
        <td th:text="${job.jobname}">Jobname</td>
        <td th:text="${job.jobdesc}">Jobdesc</td>
        <td th:text="${job.assignedworkerid}">Assignedworkerid</td>
        <td th:text="${job.priority}">Priority</td>
        <td th:text="${job.duedate}">Duedate</td>
        <td th:text="${job.phaseid}">Phaseid</td>
        <td th:text="${job.complete}">Complete</td>
        <td> <a th:href="@{jobs/edit6(id=${job.id})}">Edit</a></td>
    </tr>
    <td colspan="8" align="right"><a href="/jobs/add6">Add</a></td>
    </tbody>
</table>
<a href= "/">On the main</a>
</body>
</html>