<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="authors" border= "2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.firstname}">Fisrtname</td>
        <td th:text="${author.lastname}">Lastname</td>
        <td> <a th:href="@{authors/edit1(id=${author.id})}">Edit</a></td>
    </tr>
    <td colspan="4" align="right"><a href="/authors/add1">Add</a></td>
    </tbody>
</table>
<a href= "/">On the main</a>
</body>
</html>