<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="phases" border= "2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Phasename</th>
        <th>Phasedesc</th>
        <th>PhaseLeaderid</th>
        <th>Teamsize</th>
        <th>Priority</th>
        <th>Duedate</th>
        <th>ProcessType</th>
        <th>Projectid</th>
        <th>Complete</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="phase : ${phases}">
        <td th:text="${phase.id}">1</td>
        <td th:text="${phase.phaseName}">Phasename</td>
        <td th:text="${phase.phaseDesc}">Phasedesc</td>
        <td th:text="${phase.phaseLeaderid}">PhaseLeaderid</td>
        <td th:text="${phase.teamSize}">Teamsize</td>
        <td th:text="${phase.priority}">Priority</td>
        <td th:text="${phase.dueDate}">Duedate</td>
        <td th:text="${phase.processType}">ProcessType</td>
        <td th:text="${phase.projectid}">Projectid</td>
        <td th:text="${phase.complete}">Complete</td>
        <td> <a th:href="@{phases/edit7(id=${phase.id})}">Edit</a></td>
    </tr>
    <td colspan="11" align="right"><a href="/phases/add7">Add</a></td>
    </tbody>
</table>
<a href= "/">On the main</a>
</body>
</html>